In [1]:
import dhlab.nbtext as nb

In [5]:
nb.book_corpus(author = 'Bringsv%tor%', subject='Fabler')

,urn,author,title,year
0,2011111108118,Aesopus,Esops fablar,1951
1,2007112800009,,Korttekster,1990
2,2012082205037,"Hoff, Trygve",Trollfjell her nord,1982
3,2014100106061,"Machado, Ana Maria",Øynene som ser,1985
4,2010060102008,,Aucassin og Nicolette,1999
5,2013121605131,"Wildsmith, Brian",Løven og rotta,1974
6,2008090500004,"Bringsværd, Tor Åge",Medusa,1998
7,2014062407055,,Eventyr og fabler fra all verdens land,1989
8,2007091301046,"Ross, Tony",Revefabler,1992
9,2013010906222,"Færden, Else",Æsop - og fablene hans,2007
10,2012060805100,"Hartman, Bob",Verdens beste dyrefortellinger,2005
11,2013081908103,,Afrikanske fabler som lærer oss noe om Gud,1979
12,2014112107520,"Lloyd, Claudia",Hvorfor Elefant har snabel,2011
13,2010102603048,"Bolliger, Max",Sommerdag i skogen,1990
14,2010102008130,Aesopus,Esops fabler,1970
15,2007032901077,,Barnas verden,1962
16,2013022738042,"Ibn Ṭufayl, Muḥammad ibn ʿAbd al-Mālik",Hayy ibn yaqdhan,2005
17,2008011004137,"Kahsay, Abiel",Fisken og apen ; Eselet og herr Hailu,1993
18,2014050806072,"Chatto, Shaun",Ghāzī kih tukhm-i ṭalā mīgū zāsht =,2010
19,2014110507562,"Wildsmith, Brian",Brian Wildsmith's favorittfabler,2011

In [3]:
nb.book_corpus(subject='fabel')

             urn             author                     title  year
0  2007092000078    Rushdie, Salman  Harun og historienes hav  1991
1  2014021806176  Kittelsen, Erling             Sollo-fabelen  1993
2  2008120800119        Sande, Hans                Fuglejenta  2001
3  2010051906074    Iversen, Gunnar   Framtidsdrøm og filmlek  1992
4  2008071700101    Vatle, Sylvelin             åttande dagen  1996

In [4]:
nb.book_corpus(subject='Fabel')

             urn             author                     title  year
0  2008120800119        Sande, Hans                Fuglejenta  2001
1  2008071700101    Vatle, Sylvelin             åttande dagen  1996
2  2010051906074    Iversen, Gunnar   Framtidsdrøm og filmlek  1992
3  2007092000078    Rushdie, Salman  Harun og historienes hav  1991
4  2014021806176  Kittelsen, Erling             Sollo-fabelen  1993